<div class="split-pane">
	<as-split direction="horizontal" (dragEnd)="onDragEnd($event, SplitPanel.MAP)">
		<as-split-area [size]="mapSize" class="fill-content">
			<div class="map-controls">
				<mat-form-field appearance="fill">
					<mat-label i18n>Map Engine</mat-label>
					<mat-select [(ngModel)]="selectedMapEngine" class="map-control">
						<mat-option *ngFor="let availableMapEngine of availableMapEngines" [value]="availableMapEngine"
							i18n>
							{
							availableMapEngine,
							select,
							LEAFLET { Leaflet }
							PLOTLY { Plotly }
							}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="map-container">
				<ng-container [ngSwitch]="selectedMapEngine">
					<app-leaflet-map *ngSwitchCase="MapEngine.LEAFLET" #map
						[mapOptions]="preloadOptions?.mapOptions"></app-leaflet-map>
					<app-plotly-map *ngSwitchCase="MapEngine.PLOTLY" #map></app-plotly-map>
				</ng-container>
			</div>
		</as-split-area>
		<as-split-area [size]="100 - mapSize">
			<as-split direction="vertical" (dragEnd)="onDragEnd($event, SplitPanel.DATA_MANAGER)">
				<as-split-area [size]="dataManagerSize">
					<app-data-manager [preloadLayers]="preloadOptions?.layers"></app-data-manager>
				</as-split-area>
				<as-split-area [size]="editorSize">
					<app-editor [preloadValue]="preloadOptions?.script"></app-editor>
				</as-split-area>
				<as-split-area [size]="100 - dataManagerSize - editorSize">
					<app-console></app-console>
				</as-split-area>
			</as-split>
		</as-split-area>
	</as-split>
</div>