<div class="console-container">
    <div *ngIf="!consoleEvents || consoleEvents.length === 0 else logs"
        class="info-message" i18n>
        Type ctrl+l (or command+l on Mac) to clear console output.
    </div>
    <ng-template #logs>
        <div class="console-logs" #consoleLogs>
            <ng-container *ngFor="let consoleEvent of consoleEvents">
                <span [ngClass]="['output', 'output-' + consoleEvent.type]">[{{ consoleEvent.date | amDateFormat:DATE_FORMAT }}
                    {{ consoleEvent.type.toUpperCase().substr(0, 1) }}]
                    {{consoleEvent.value}}
                </span>
            </ng-container>
        </div>
    </ng-template>
</div>