.title {
    vertical-align: middle;
}

.summary {
    font-size: 0.6em;
    color: grey;
    margin-left: 1em;
}

.color-picker-container {
    margin: 0 0.5em;
}

.color-picker-input {
    width: 1em;
    position: relative;
    vertical-align: middle;
    border-radius: 3px;
    border: 1px solid #6b6b6b;
    cursor: pointer;
}