.title {
    .title-1 {
        color: #a7a7ac;
    }
    .title-2 {
        color: #efdb50;
    }
}

.title.high-contrast .title-1 {
    color: #64646b;
}
.title.high-contrast .title-2 {
    color: #d3ba08;
}
